.main_page{
  background: #201438;
}

.h1{
  font-size: 300px;
}
.cent{
  display: flex;
}
.text{
  color: #fff;
}
.navig{
  padding-top:2%;
  padding-right: 70%;
}
.btn_home{
  margin-left: 3%;
  font-size: 30px;
  background-color:#3382B8 ;
  color: #fff;
  border-radius: 20px;
  border-width: 0px;
  font-family: 'Times New Roman', Times, serif;
  height: 55px;
  margin-top: 15%;
  padding-left: 1%;
  padding-right: 4%;
  padding-top: 4px;
  width: 530px;

  text-align: center;
  transition: 0.5s;
  color: white;
  box-shadow: 0 0 5px #eee;
  background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
  
}
.btn_home_text{
  background-color:#2268d8 ;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: #78E4FB;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  height: 20%;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #1D1136;
}
.logo{
  color: #fff;
}
.contentStyle{
  padding-top: 2%;
  padding-right:1%;
  padding-left:3%;
  margin-right: 5%;
  text-align: "center";
  background-color: #201438;
  margin-right: '10px' ;
  color: #fff; 
}
.slider_auth{
  background-color: #4B435B;
  padding-bottom: 28%;
  padding-top: 10%;
  margin-left: -5%;
}
.slider_reg{
  background-color: #4B435B;
  padding-bottom: 28%;
  padding-top: 10%;
margin-left: 0.1%;
}
.slider_free{
  background-color: #544D67;
  padding-bottom: 100%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 2%;
}
.auth_vhod{
  color: #fff;
  margin: 10px;
  margin-left: 10%;
}
.auth_text{
  display: flex;
  margin-left:0.5% ;
}
.auth_vhod_reg{
  color: #78E4FB;
  margin: 10px;
  
}
.auth_vhod_mail{
  color: #fff;
  margin: 10px;
  margin-left: 10.5%;
  padding-top: 5%;
}
.button_aut{
  margin-top: 20px;
  margin-left: 10%;
}
.inp_aut{
  font-size: 20px;
  position: relative;
  width: 50%;
  margin-left: 10%;
}
.btn_inp_aut{
  font-size: 25px;
  background-color:#2D71D9 ;
  color: #fff;
  border-radius: 20px;
  width: 56%;
  border-width: 0px;
  font-family: 'Times New Roman', Times, serif;
  height: 55px;
  margin-top: 2%;
  
 

  .flip-button-container {
    perspective: 1000px;
}

.flip-button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-button.flipped {
    transform: rotateY(180deg);
}


}
.logo_auth{
  padding-left: 45%;
  padding-top: 60%;
}
.contentStyle_aut_logo{
  background-color: #1D1136;
  color: #fff;
}
.reg_text{
  margin-left: 10%;
  display: flex;
  margin-top: 2%;

}
.p_reg{
 color: #fff;
}
.button_fre_anali{
  margin-left: 15%;
  margin-top: 10%;
  padding-bottom: 20%;
  font-size: 150%;

  font-style: "Regular";
  background-color: #24183C;
  color: #fbfbfb;
  border-radius:  6px;
  border-width: 0px;
  text-align: center;
}

.line{
  background-color: #fff;
}

.img_user{
  position: relative;;
  margin-left: 93%;
}
.free_analit_but{
  display: flex;
  background-color: #ffffff;
  padding-left: 3%;
  border-radius: 5px;
  margin-left: 3%;
}
.free_analytic_doby{
  display: flex;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 1.6%;
}
.button_fre_analit_boby{
 margin-left: 5%;
 margin-top: 2%; 
}
.img_page_home{
 position: absolute;
 margin-top: -22%;
}
.img_page_home{
  position: relative;
}
.img_page_home_man{
  position: absolute;
  margin-top: -46.5%;
  margin-left: 8%;
}
.img_page_home_graph{
  position: absolute;
  margin-top: -46.5%;
  margin-left: 8%;
}
.img_page_button{
  margin-left:28%;
}
.button_fre_pref{
  margin-left: 2.8%;
  margin-top: 0.3%;
  font-size: 100%;
  font-style: "Regular";
  background-color: #322253;
  color: #fbfbfb;
  border-radius:  6px;
  border-width: 0px;
}
.button_pref{
  margin-left: 2%;
}
.Button_grath{
  margin-left: 2%;
  position: relative;
  
}
.grath{
  position: absolute;
}
/*=================================================*/
/*============HEDER===================*/
/*=================================================*/

.head_free{
  background-color: #544D67;
  border-radius:  20px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  
}
.icon_hed{
padding-top: 35%;
padding-left: 25%;
}
.icon_heder{
padding-top: 2%;
padding-left: 2%;
padding-bottom: 2%;
}



/*===========================
	End Footer CSS
============================*/

/*===========================
	Footer CSS Main
============================*/
.section {
  width: 300%;
}
.footer_main {
  position: absolute;
  top: 125%;
  padding: 0;
}
.footer_main .footer-top {
  text-align: center;
  padding: 10px 0;
  background: #232328;
}
.footer_main .logo {
  margin-bottom: 10%;
}
.footer_main .social li {
  display: inline-block;
  margin-right: 10px;
}
.footer_main .social li:last-child {
  margin: 0;
}
.footer_main .social li a {
  width: 12px;
  height: 12px;
  border-radius: 0px;
  background: #232328;
  border: 1px solid #42bc7f;
  line-height: 42px;
  text-align: center;
  display: block;
  color: #42bc7f;
}
.footer_main .social li a:hover {
  box-shadow: 0px 0px 5px #42bc7f inset;
  color: #fff;
}
.footer_main .social li span {
  font-size: 18px;
}
.footer_main .copyright {
  background: #1d1d21;
  text-align: center;
  padding: 25px 0;
}
.footer_main .copyright p {
  color: #666666;
}
/*===========================
	End Footer CSS Main
============================*/




